// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.best-article {
  width: 75%;
  height: calc(65vh - 60px);
}

.side-article {
  width: 25%;
  height: calc(65vh - 60px);
}

.category {
  width: 25%;
  height: 35vh;
}

.article {
  width: 50%;
  height: 50vh;
}

.area {
  border: none;
  width: 50%;
  height: 500px;
}
