$primary: #4e443f;
$secondary: #f66004;
$white: white;

$colors: (
  primary: $primary,
  secondary: $secondary,
  white: $white,
  yellow: yellow,
);

@each $key, $value in $colors {
  .color-#{$key} {
    color: $value;
  }

  .bg-color-#{$key} {
    background-color: $value;
  }
}

a:hover {
  color: $secondary;
}

footer a:hover{
  color: $white;
}
