.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  margin: auto 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrap {
  flex-wrap: wrap;
}
