<div class = "category relative rounded">
  <div class = "radial-grad absolute z-1"></div>
  <div class = "absolute p-left-20 p-top-10 z-2">
    <p class = "color-white extra-bold"><%= link_to category.name, category%></p>
    <div class = "underline bg-color-yellow"></div>
  </div>
  <%= render partial: "articles/last_article", object: category.last_article %>
</div>