<div class = "flex">
  <div class = "bg-color-red best-article">
    <p><%= @best_article.title%></p>
    <p><%= @best_article.text%></p>
  </div>
  <div class = "bg-color-blue side-article">
    <p>Extra Feature</p>
  </div>
</div>
<div class = "flex">
  <%= render @categories %>
</div>