<div class = "center p-left-30">
  <a href = <% root_path %>>
    <span>EniGma</span>
    <i class="fas fa-question"></i>
  </a>
</div>
<div class = "center">
  <span>Privacy Policy</span>
  <span class = "m-left-10">Terms & Conditions</span>
  <span class = "m-left-10">Copyright 2014. All rights reserved</span>
</div>
<div class = "flex p-right-30">
  <span class = "center">Contact us:</span>
  <div class = "flex center">
    <a class = "m-left-10" href="">
      <div class = "small-circle bg-color-secondary relative">
        <i class="fab fa-twitter absolute icon color-primary"></i>
      </div>
    </a>
    <a class = "m-left-10" href="">
      <div class = "small-circle bg-color-secondary relative">
        <i class="fab fa-instagram absolute icon color-primary"></i>
      </div>
    </a>
    <a class = "m-left-10" href="">
      <div class = "small-circle bg-color-secondary relative">
        <i class="fab fa-facebook-f absolute icon-facebook color-primary"></i>
      </div>
    </a>
  </div>
</div>