<nav class = "flex space-between navbar rounded fixed bg-color-white z-3">
  <div class = "center-h p-left-30">
    <a class = "flex" href = "/">
      <h1 class = "extra-bold color-primary big">EniGma</h1>
      <i class="fas fa-question color-secondary big"></i>
    </a>
  </div>
  <div class = "center-h">
    <span class = "color-primary small"><%= link_to 'Home', root_path%></span>
    <%= category_links %>
  </div>
  <div class = "center-h p-right-30">
    <%= session_links %>
    <a class = "color-primary" href=""><i class="fas fa-search m-left-10"></i></a>
  </div>
</nav>