<nav class = "flex space-between navbar">
  <div class = "center p-left-30">
    <a href = <% root_path %>>
      <span>EniGma</span>
      <i class="fas fa-question"></i>
    </a>
  </div>
  <div class = "center">
    <span><%= link_to 'Home', root_path%></span>
    <%= render partial: "layouts/category", collection: @categories %>
  </div>
  <div class = "center p-right-30">
    <%= session_links %>
    <i class="fas fa-search m-left-10"></i>
  </div>
</nav>